@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');


/* ########## utility classes ######### */
.textwhite{
    color: #fff;
}

.textpurple{
    color: purple;
} 

.textgrey{
    color: #555;
}

.navbar .h1{
    color: white;
    font-weight: 500;
    font-size: 3rem;
    padding: 1rem;
}
.h1{
    color: purple;
    font-weight: 500;
    font-size: 3rem;
    padding: 1rem;
}

.hover:hover{
    background-color:orange;
}
 .colorgrey{
     background-color: rgba(0, 0, 0, 0.808);
 }

.colorpurple{
    background: linear-gradient(50deg,rgb(164, 24, 183),purple 50%);
    color:#fff;
}

.medheading{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 900;
    padding: 0 2rem;
}

/* ######### header ######### */


.box{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.navbar .box .logo{
    float:left;
    margin-top: 1rem;
}

.logo:hover{
    color: orange;
}

.navbar .logo .buttonlogo{
    background-color:  yellow;
    font-weight: 900;
    border-radius: 50%;
    padding: 2rem;
    color: purple;
    box-shadow: 0 0 10px 5px white;
    font-style: italic;
    margin: 3rem 0;
}

.navbar .box .listitems{
    float: right;
    margin: 2rem 1rem;
}

.navbar .box .listitem{
    display: inline-block;
    font-size: 2rem;
    margin: 1rem;
}

.navbar .box .listitem a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}
.navbar .listitems a:hover{
    border-bottom: solid white;
    padding: 0.5rem;
    color: orange;
}
.header .box::after{
      content: '';
      clear: both;
      display: block;
}

/* ######### section ########## */

.aboutsec h1{
    font-weight: 700;
    letter-spacing: 0.2rem;
    border-bottom: 0.7rem solid purple;
    margin-top: 3rem;
}
 .aboutsec p{
     margin-top: 2rem;
     font-size: 2rem;
     letter-spacing: 0.1rem;
     font-weight: 700;
     line-height: 3rem;
 }

 .aboutsec .lists{
     /* border: 1rem solid green; */
     margin: 3rem 0;
 }

 .aboutsec .lists .list1{
     float: left;
 }

 .aboutsec .lists .list2{
    float: right;
}
.aboutsec .lists::after{
    content: '';
    display: block;
    clear: both;
}
 
.list1 li,.list2 li{
    list-style-type: none;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin: 0.5rem 12rem;
}

.aboutsec li::before{
    display:inline-block;
    content: '\2713 ';
    font-weight: 900;
    color: purple;
    padding-right: 1rem;
}
.data p{
    font-size: 3rem;
}
.data1,.data2,.data3,.data4{
    float: left;
    width: 25%;
    text-align: center;
}
.data::after{
    content: '';
    clear: both;
    display: block;
}
.aboutsec h2{
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 1rem;
    letter-spacing: 0.15rem;
}

.banner{
    margin-top: 3rem;
    /* border: 1rem solid green; */
}

.banner .textbanner{
    float: left;
    margin: auto 2rem;
    letter-spacing: 1rem;
}

.banner .bannerbtn span{
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 5rem;
    border: 0.5rem solid white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.5rem;
}
.banner .bannerbtn{
    float: right;
    margin:1rem 2rem;
}

.banner::after{
    content: '';
    clear: both;
    display: block;
}


/* ######## using media queries####### */
@media (max-width:500px){
    .aboutsec h2{
        font-size: 0.8rem;
        font-weight: 900;
        margin-top: 1rem;
        letter-spacing: 0.15rem;
    }
    .data p{
        font-size: 1.6rem;
    }
}
@media (max-width:580px){
    .container{
        font-size: 8px;
    }
  .navbar .logo, .navbar .listitems{
    float:none;
    display: block;
    width: 100%;
    text-align: center;
   }
}


@media (max-width:1140px){
    .list1 li,.list2 li{
        margin: 0.5rem 0;
    }
    .aboutsec .lists .list1,.aboutsec .lists .list2{
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        margin: 0.5rem 0;
    }
}
@media (max-width:954px){
     .container{
        font-size: 8px;
    }
    .banner .textbanner,.banner .bannerbtn{
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        padding-bottom: 1rem;
    }
    
     .aboutsec .banner .bannerbtn{
        margin: 1rem auto;
    } 
    .aboutsec .banner .bannerbtn a{
        display: inline-block;
        padding: 1rem 2rem;
    }
    .aboutsec .banner .textbanner p{
        font-size: 16px;
        padding-right:3rem ;
    }
    .aboutsec h2{
        font-size: 1.5rem;
    }
     
}