
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');



/* ########## utility classes ######### */
.textwhite{
    color: #fff;
}

.textorange{
    color: rgb(255, 94, 0);
} 
.textpurple{
    color: purple;
}

.textgrey{
    color: #555;
}

.h1{
    color: white;
    font-weight: 500;
    font-size: 3rem;
    padding: 1rem;
}

.button{
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0.5rem 0;
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: none;
}

.buttonpri{
    background-color: white ;
    font-weight: 900;
    border-radius: 10rem;
}

.buttonsec{
    display: inline-block;
    font-size: 2rem;
    border: 0.2em solid purple;
    font-weight: 900;
    border-radius: 10rem;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
}

.hover:hover{
    color:orange;
    background-color: lightgoldenrodyellow;
}
 .colorgrey{
     background-color: rgba(0, 0, 0, 0.808);
 }


.colorpurple{
    background: linear-gradient(25deg,rgb(182, 29, 190),purple 50%);
    color:#fff;
}

.medheading{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 900;
    padding: 0 2rem;
}

.zoom {
    transition: transform 1.5s;
    transition-timing-function: ease-in-out;
    
  }
.zoom:hover{
    transform: scale(0.9);
    background-color: rgb(236, 226, 236);
}
/* ####### header  ######## */


.header{
    position: relative;
    height: 98vh;
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.8)), url("Internship-Assignment/images/header-image3.jpg");
    background-position:center; 
    background-size:cover;
    
}

.box{
    margin:0 auto;
    width: 95%;
    max-width: 1250px;
}
 .navbar{
    margin-top: 0 rem;
    font-size: 1rem;
    /* background-color: lightsalmon; */
    z-index: 1000;
    
}

.navbar .logo{
   
    float: left;
    color: white;
}

.navbar .logo .buttonlogo{
    background-color:  yellow;
    font-weight: 900;
    border-radius: 50%;
    padding: 2rem;
    color: purple;
    box-shadow: 0 0 10px 5px white;
    font-style: italic;
}
.logo:hover{
    color: orange;
}

.navbar .listitems{
    float: right;
    list-style-type: none;
}

.navbar .listitems .listitem{
    display: inline-block;
    font-size: 3rem;
    color: white;
    margin-top: 1rem;
}

.navbar .listitems a{
    color:white;
   padding: 0.5rem;
   text-decoration: none;
}

.navbar .listitems a:hover{
    border-bottom: solid white;
    padding: 0.5rem;
    color: orange;
}

.navbar::after{
    content: '';
    clear: both;
    display: block;
}

.header .lgheading{
    text-transform: uppercase;
    word-spacing: 1rem;
    font-weight: 700;
}
.header p{
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    word-spacing: 1rem;
    margin: 1rem;
}

.contentbox{
    text-align:center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1));
}

/* ######## section ######## */
.places{
    background-color: rgb(236, 226, 236);
    padding: 10rem;
}
.box1,.box2{
    height:350px;
    /* border: 1.5rem solid green; */
    margin-bottom: 4rem;
    background-color: white;
    box-shadow: 0px 0px 30px 0 rgba(128, 0, 128, 0.246);
}

.box1 .imgbox,.box2 .textbox{
    float: left;
    width:50%;
}

.box2 .imgbox,.box1 .textbox{
    float: right;
    width:50%;
}

.imgbox{
    height: 100%;
}

.box1 .imgbox img,.box2 .imgbox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.textbox h2{
    font-size: 3rem;
    margin: 2rem;
    letter-spacing: 0.8rem;
}

.textbox p{
    font-size: 1.8rem;
    margin: 2rem;
    letter-spacing: 0.1rem;
}

/* .textbox a{
    color: orange;
} */

/* ############# feature section ############ */

.box .h1{
         margin-top: 2rem;
}
.feature .box3{
    height: 45rem;
    /* border: 1rem solid darkgreen; */
    margin-top: 10rem;
    margin-bottom: 10rem;
    box-shadow: 0 0 2rem 0 lightslategrey;
}
.feature .box3 .block1{
    float: left;
    width:33%;
    /* border: 0.5rem solid red; */
    height: 100%;
    text-align: center;
}

.feature .box3 .block2{
    float: left;
    width:34%;
    height: 100%;
    /* border: 0.5rem solid red; */
    text-align: center;
}

.feature .box3 .block3{
    float: left;
    width:33%;
    /* border: 0.5rem solid red; */
    text-align: center;
    height: 100%;
}
.feature .box3 .block1::after,.feature .box3 .block2::after,.feature .box3 .block3::after{
    content: "";
    display: block;
    clear: both;
}
.box3 p{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: white;
    margin: 2rem;
    line-height: 3rem;
}
.box3 .traveller{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: white;
    margin: 2rem;
    line-height: 3rem;
    font-style: italic;
}
 .footer{
    /* height: 15rem; */
    text-align: center;
    font-size: 3rem;
}
.footer span{
    font-size: 2rem;;
}
.footer p{
    margin-bottom: 0;
    padding-bottom: 1rem;
}
.footerbtn{
    display: inline-block;

    border: 0.2em solid white;
    font-weight: 900;
    border-radius: 10rem;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
}
.footerheading{
    color: white;
    margin-top: 1rem;;
}

/* .feature .footer i{
    display: inline;
    position: relative;
    left:45%;
    transform: translateX(-40%);
}

.feature .footer p{
    text-align: center;
    position: absolute;
    top: 50%;
    left:40%;
    transform: translateX(-10%);
    font-size: 2rem;
    margin-top: 1rem;
} */

/* ######## using media queries ######## */

/* @media (max-width:380px){
    .places{
        background-color: rgb(236, 226, 236);
        padding: 2rem;
    }
    .textbox h2{
        font-size: 2rem;
        margin: 2rem;
        letter-spacing: 0.2rem;
    }

} */
@media (max-width:500px){
    .places{
        background-color: rgb(236, 226, 236);
        padding: 2rem;
    }
    .box .h1{
        margin-top: 0;
}
    .textbox h2{
        font-size: 2rem;
        margin: 2rem;
        letter-spacing: 0.2rem;
    }
    .container{
        font-size: 8px;
    }
  .navbar .logo, .navbar .listitems{
    float:none;
    display: block;
    width: 100%;
    text-align: center;
   }
   .footer{
       display: flex;
       flex-direction: column;
       justify-self: center;
       align-items: center;
   }
}

@media (max-width:1500px){
    .container{
        font-size: 8px;
    }
    .box{
        height: auto;
        width: 100%;
    }
    .box1 .imgbox,.box2 .imgbox, .box1 .textbox, .box2 .textbox{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (max-width:1200px){
    .feature .box3{
        height: auto;
        box-shadow: none;
    }
    .feature .box3 .block1,.feature .box3 .block2,.feature .box3 .block3{
        float: none;
        display: block;
        width: 100%;
        box-shadow: 0 0 1rem 0 lightslategrey;
        margin: 3rem 0;
        padding-bottom: 1rem;
    }
}

@media (orientation:landscape) and (max-height:500px){
    .header{
        height: 90vmax;
    }
}